@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
   
<h1>Inseret / Delete person information</h1>

<form name="NameForm" id="NameForm" method="post">
Name:  
<input name="Name" type="text" class="form-control input-lg" autofocus required />
<br />
        <lable>Mobile:  </lable>

<input name="Mobile" type="text" class="form-control input-lg" required />
<br />
        <lable>Address:  </lable>
       
        <input name="Address" type="text" class="form-control input-lg" required />
        <br />

<input id="SaveButton" type="submit" value="Save" class="btn btn-info" />

        <input id="DeleteButton" type="reset" value="Delete" class="btn btn-info" />
</form>
</div>

<br />
<br/>

<form name="NameForm" id="NameForm" method="get">
    <input id="showButton" type="submit "value="show" class="btn btn-info" />
    
    <table cellpadding="2" cellspacing="2" >
        <tr>
            <th>Name    </th>
            <th>    Mobile   </th>
            <th>   Address   </th>
        </tr>

        @foreach (System.Data.DataRow row in Model.Person.Tables[0].Rows)
        {
            <tr>
                <td>@row["Name"]   </td> 
                <td>    @row["Mobile"]     </td>
                <td>   @row["Address"]   </td>
            </tr>
        }

    </table>
</form>
